parameters:
    app.environment: '%kernel.environment%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/Domain/Document/'
            - '../src/Domain/ValueObject/'
            - '../src/Kernel.php'

    # Repository Interface Bindings
    App\Domain\Repository\ArticleRepositoryInterface:
        class: App\Infrastructure\Persistence\MongoDB\Repository\MongoDBArticleRepository

    App\Domain\Repository\UserRepositoryInterface:
        class: App\Infrastructure\Persistence\MongoDB\Repository\MongoDBUserRepository

    App\Domain\Repository\LegalDocumentRepositoryInterface:
        class: App\Infrastructure\Persistence\MongoDB\Repository\MongoDBLegalDocumentRepository

    # Exception Subscriber
    App\Presentation\API\EventSubscriber\ExceptionSubscriber:
        arguments:
            $environment: '%kernel.environment%'
